<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>

<body>
    <h1><%= farm.name %> </h1>
    <h2>Add a product</h2>
    <form action="/farms/<%= farm._id %>/products" method="POST">
        <label for="name">Product name</label>
        <input id="name" type="text" name="name" placeholder="Product name">
        <label for="price">Price (unit)</label>
        <input id="price" type="numer" name="price" placeholder="Price">
        <label for="category">Category</label>
        <select id="category" name="category">
            <% for(let category of categories) { %>
            <option value="<%= category %>"><%= category %></option>
            <% } %>
        </select>
        <button type="submit">Submit</button>
        <a href="/farms/<%= farm._id %>">Back to farm</a>
    </form>
</body>

</html>